@import url('https://fonts.google.com/specimen/Poppins?query=poppins');
body {
    background-color: #131315;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: block;
    place-items: center;
    align-content: center;
}

footer {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    align-content: center;
}
footer a {
    color: #f1f1f1;
}
#social-table-footer a:hover {
    color: #5c5c5c;
  }

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 105vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

#projects {
    display: flex;
    flex-wrap: wrap;
    text-align: middle;
    justify-content: center;
}

.project img {
    padding:.5vw;
    width: 300px;
    height: 300px;
}

.project:nth-child(2) {
    transition-delay: 200ms;
}
.project:nth-child(3) {
    transition-delay: 400ms;
}
.project:nth-child(4) {
    transition-delay: 600ms;
}

.project button {
    max-width: 150px;
    text-align: center;
}

.navbar {
    background-color: #33333321;
    display: flex;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.navbar-child {
    flex: 1;
}
::-webkit-scrollbar {
    width: 1vh;
    background-color: #33333321;
}
::-webkit-scrollbar-track {
    background-color: #64646421;
}
   
::-webkit-scrollbar-thumb {
    background-color: #131315;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

button {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5%;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}
button:hover {
  background-color: #000000;
  color: #fff;
}
@media (min-width: 768px) {
  button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
.sidepanel {
    display: none;
    overflow-y: hidden;
}
.card {
    background-color: #33333321;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.233);
    margin: auto;
    text-align: center;
    font-family: arial;
    text-shadow: 1px 1px 1px black;
    max-height: 60vh;
    max-width: 30vh;
    padding: 1%;
    border-bottom-left-radius: 15%;
}
.name {
    color: white;
    font-size: 24px;
}
#social-table {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}
.sidepanel {
    border-bottom: 8px;
    position: fixed;
    z-index: 1;
    top: 10%;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: -40px;
    transition: 0.5s;
}
.sidepanel a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover {
    color: #f1f1f1;
}

.menubtn-open {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}